.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // !INFO min height needed to use flex:1 in .items
  // min-height: 0;
  &:not(:last-child) {
    border-bottom: solid 1px var(--colors-black);
  }

  &.active {
    flex: 1;
  }

  &.hidden {
    .items {
      display: none;
    }
  }

  &.mobile {
    overflow: visible;
  }
}

.items {
  // flex: 1;
  overflow: scroll;
}
