.aside {
  display: flex;
  height: 100%;
}

.scroll-bar {
  height: 100%;
  width: 0.15rem;
  background-color: var(--colors-grey-100);
  margin-left: 2.4rem;
  margin-right: 2.4rem;

  &__fill {
    background-color: #454545;
    height: 0%;
  }
}

// .aside {
//   // TODO! Duplicate code in AlbumPage.module.scss
//   // TODO: Fix the max-height here
//   max-height: 95vh;
//   overflow: scroll;
// }
.content {
  flex-grow: 1;
  overflow: scroll;

  > *:not(:last-child) {
    margin-bottom: 4.8rem;
  }
}
