//TODO! Most likely remove display, h and p classes since ive created global classes for these that are currently used instead.
@use '../../styles/mixins.scss' as *;

.display {
  @include display-lg;

  &--sm {
    @include display-sm;
  }
}

.h1 {
  @include h1;
}
.h2 {
  @include h2;
}
.h3 {
  @include h3;
}
.h4 {
  @include h4;
}
.h5 {
  @include h5;
}
.h6 {
  @include h6;
}

.p {
  @include p;

  &--sm {
    @include p-sm;
  }
}

.sans {
  font-family: var(--ff-sans-serif);
  letter-spacing: -0.03em;
}

.thin {
  font-weight: 400;
}

.normal {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}
