@use '../../styles/mixins.scss' as *;
@use '../../styles/breakpoints.scss' as *;

.metronome {
  position: relative;
  height: 100%;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__heading {
    @include sm-breakpoint {
      position: absolute;
      top: 1.6rem;
      left: 2.5rem;
    }
  }
}
.timer {
  color: var(--colors-brand);
  border-bottom: 1px dashed var(--colors-brand);
  border-left: 1px dashed var(--colors-brand);
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempo {
  width: 6rem;
}

.button {
  @include fill;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  border-radius: 100%;
  border: 1px dashed var(--colors-brand);
  padding: 0 0.8rem;

  &.active {
    background: #6e5895;
  }
}
