@use '../../../styles/mixins.scss' as *;

.list-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  padding-left: 0;
  box-sizing: border-box;

  &:hover {
    // Acts as border
    box-shadow: inset 1px 0px 0px 1px var(--colors-black);
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  min-width: 0;

  > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.heading {
  color: var(--colors-grey-900);
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}
.sub-heading {
  color: var(--colors-grey-500);
  font-size: 1.2rem;
  font-weight: 400;
}
