@use '../../styles/mixins.scss' as *;

.slider {
  --slider-height: 2rem;
  --track-height: 1px;
  --tick-height: 3px;
  --thumb-height: 2rem;
  position: relative;
  height: var(--slider-height);
  width: 100%;
  cursor: pointer;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__track {
    position: absolute;
    top: calc(var(--slider-height) / 2);
    height: var(--track-height);
    width: 100%;
    background-color: var(--colors-brand);
  }

  &__tick {
    height: var(--tick-height);
    width: 1px;
    background-color: var(--colors-brand);
    position: absolute;
    top: 0;
  }

  &__thumb {
    position: absolute;
    height: var(--thumb-height);
    width: var(--thumb-height);
    top: calc(var(--thumb-height / 2));
    // border-radius: 50%;
    background-color: transparent;
    // box-shadow: 0 0 5px gray;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 1.2rem;
      height: var(--thumb-height);
      background-color: var(--colors-brand);
      transform: translateY(-50%);
    }
  }
}

.button {
  @include fill;
  border: 1px dashed var(--colors-brand);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
