.lyrics {
  white-space: pre-wrap;
  word-break: break-word;
  // overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &-outer {
    display: flex;
    flex-direction: column;
  }
}
