.lyrics {
  white-space: pre-wrap;
  word-break: break-word;
  // overflow: scroll;
  letter-spacing: unset;
  font-weight: 400;
  line-height: 140%;

  padding-bottom: 9.6rem;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__outer {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 0.8rem;
  }
}
