.side-content {
  display: flex;
  height: 100%;
  // TODO! Change with varaible heights for header and footer
  max-height: calc(100vh - 58px);

  &:global(.sticky) {
    top: 5.6rem;
  }
}

.scroll-bar {
  height: 100%;
  width: 0.15rem;
  background-color: var(--colors-grey-100);
  margin-left: 3.6rem;
  margin-right: 3.6rem;

  &__fill {
    background-color: #454545;
  }
}

// .aside {
//   // TODO! Duplicate code in AlbumPage.module.scss
//   // TODO: Fix the max-height here
//   max-height: 95vh;
//   overflow: scroll;
// }
.content {
  flex-grow: 1;
  overflow: scroll;

  > *:not(:last-child) {
    margin-bottom: 4.8rem;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
