.search-results {
  position: absolute;
  background: var(--colors-white);
  border: 1px solid var(--colors-black);
  width: 100%;
  top: 95%;
  left: 0;
  filter: drop-shadow(0px 0.6rem 0.6rem rgba(0, 0, 0, 0.1));
}
