.outer {
  padding-top: 15rem;
  // padding-top: HEIGHT OF PAGEHEADER;
  height: 100%;
  overflow: auto;
  // Hide scroll bar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  > img {
    width: 100%;
    height: auto;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
