@use '../../styles/mixins.scss' as *;

.logo {
  --size: 4rem;

  @include background-gradient(
    var(--colors-gradient-start),
    var(--colors-gradient-end),
    'vertical'
  );

  height: 4rem;
  width: 4rem;
  // border-radius: 0.8em 0 0 0;
  border-radius: calc(var(--size) / 5) 0 0 0;

  &_lg {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: calc(var(--size) / 5) 0 0 0;
  }
}
