@use '../../styles/mixins.scss' as *;

.search_input {
  @include underline;
  font-size: 1.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: var(--colors-grey-500);
  width: 50rem;
  position: relative;
  z-index: 2;
}

.search {
  position: relative;
  z-index: 1;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: grey;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
