@use '../../../styles/breakpoints.scss' as *;

.main {
  flex-grow: 1;
}

.wrapper {
  flex-direction: column-reverse;

  @include sm-breakpoint {
    flex-direction: row;
  }
}

.left {
  @include sm-breakpoint {
    padding-right: 4.8rem;
    overflow-y: scroll;
    max-height: calc(100vh - 5.6rem);
    position: sticky;
    top: 5.6rem;
  }
}
.right {
  @include sm-breakpoint {
    padding-left: 0.8rem;
    min-height: calc(100vh - 5.6rem);
  }
}

.image-wrapper {
  margin-bottom: 1.2rem;

  position: relative;
  padding-bottom: 100%;
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.35));
  display: none;

  @include sm-breakpoint {
    display: revert;
    position: sticky;
    top: 0;
  }
}

.data-items {
  margin-bottom: 2.4rem;
  @include sm-breakpoint {
    margin-bottom: 0;
    padding-right: 2.4rem;
  }
}

.metronome {
  margin-bottom: 2.4rem;
  @include sm-breakpoint {
    margin-bottom: 0;
  }
}

.scroll-content {
  margin-bottom: 2.4rem;
  @include sm-breakpoint {
    margin-bottom: 0;
  }
}

.mb {
  margin-bottom: 0;
  @include sm-breakpoint {
    margin-bottom: 5.6rem;
  }
}
