@use '../../styles/breakpoints.scss' as *;

.title {
  margin-bottom: 0.8rem;
}

.item {
  border-bottom: 1.5px solid var(--colors-grey-100);
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &-top {
    display: flex;
    gap: 1.6rem;
    align-items: flex-start;
  }

  &-key {
    width: 37.5%;
    font-weight: 500;
  }

  &-value {
    flex-grow: 1;
  }

  &-description {
    font-weight: 400;
    color: #454545;
    font-size: 1.2rem;
  }
}

.button {
  &:hover {
    .add {
      transform: rotateZ(90deg);
      transition: linear 0.1s;
    }
    .remove {
      transform: rotateZ(-180deg);
      transition: linear 0.1s;
    }
  }
}

.item-heading {
}

.text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// TODO: Not on mobile
// .data-items {
//   z-index: 1;
//   position: sticky;
//   top: 0;
//   background-color: var(--colors-white);
// }
