// TODO: Need to look over css style system and guide

@use './reset.scss' as *;
@use './variables.scss' as *;
@use './type.scss' as *;

// Do this is root or HTML?
:root {
  @include colors;
  @include fonts;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-sans-serif);
  color: var(--colors-black);
  font-size: 1.6rem;
  background-color: var(--colors-white);
  background-image: url(../public/Gradient.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

  &.modal-active {
    overflow: hidden;
  }
}
#__next {
  // TODO: Create solution for 100vh that works on all devices
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // overflow: hidden;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: var(--colors-white);
//     background: var(--colors-blacks);
//   }
// }
