@use './reset.scss' as *;
@use './variables.scss' as *;

// Do this is root or HTML?
:root {
  @include colors;
  @include fonts;
}

html,
body {
  font-family: var(--ff-sans-serif);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--colors-white);
    background: var(--colors-blacks);
  }
}
