// @use './type.scss' as *;
// @use './variables.scss' as *;

@mixin display-lg {
  font-size: 9.6rem;
  font-size: clamp(4.8rem, 1.6rem + 5.5556vw, 9.6rem);
  font-weight: 500;
  letter-spacing: -0.07em;
}
@mixin display-sm {
  font-size: 7.2rem;
  font-size: clamp(3.6rem, 1.2rem + 4.1667vw, 7.2rem);
  font-weight: 500;
  letter-spacing: -0.07em;
}

@mixin h1 {
  font-size: 5.6rem;
  font-size: clamp(3.2rem, 1.6rem + 2.7778vw, 5.6rem);
  font-weight: 500;
  letter-spacing: -0.05em;
}
@mixin h2 {
  font-size: 4.4rem;
  font-size: clamp(2.8rem, 1.7333rem + 1.8519vw, 4.4rem);
  font-weight: 500;
  letter-spacing: -0.05em;
}
@mixin h3 {
  font-size: 3.6rem;
  font-size: clamp(2.4rem, 1.6rem + 1.3889vw, 3.6rem);
  font-weight: 500;
  letter-spacing: -0.05em;
}
@mixin h4 {
  font-size: 2.8rem;
  font-size: clamp(2rem, 1.4667rem + 0.9259vw, 2.8rem);
  font-weight: 500;
  letter-spacing: -0.04em;
}
@mixin h5 {
  font-size: 2.4rem;
  font-size: clamp(1.8rem, 1.4rem + 0.6944vw, 2.4rem);
  font-weight: 500;
  letter-spacing: -0.03em;
}
@mixin h6 {
  font-size: 2rem;
  font-size: clamp(1.6rem, 1.3333rem + 0.463vw, 2rem);
  font-weight: 500;
  letter-spacing: -0.03em;
}

@mixin p {
  font-size: 1.6rem;
  font-size: clamp(1.4rem, 1.2667rem + 0.2315vw, 1.6rem);
  font-weight: 400;
}

@mixin p-sm {
  font-size: 1.4rem;
  font-size: clamp(1.2rem, 1.0667rem + 0.2315vw, 1.4rem);
  font-weight: 400;
}
@mixin p-xs {
  font-size: 1.2rem;
  font-size: clamp(1rem, 0.8667rem + 0.2315vw, 1.2rem);
  font-weight: 400;
}

@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

@mixin underline {
  transition: all 0s;
  &:hover,
  &:focus {
    border-bottom: solid 1px var(--colors-black);
    transition: all 0.3s ease-in;
  }
  &:hover {
    color: var(--colors-black);
  }
  &:focus {
    color: var(--colors-black);
  }
}

@mixin fill {
  background: linear-gradient(
    to right,
    var(--colors-brand) 50%,
    var(--colors-white) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0s;
  &:hover,
  &:focus {
    color: var(--colors-white);
    background-position: left bottom;
    transition: all 0.3s ease-in;
  }
}
