.outer {
  margin-bottom: 0.8rem;
}

.title {
  // margin-bottom: 2.4rem;
  font-size: 2.4rem;
}

.item {
  display: flex;
  gap: 1rem;
  border-bottom: 1.5px solid lightgrey;
  // border-bottom: 1.5px salmon dotted;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &--simple {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  // margin-left: -2.4rem;
  // margin-right: -2.4rem;
  // padding-left: 2.4rem;
  // padding-right: 2.4rem;
}

.number {
  width: 4.8rem;
  &--simple {
    width: 2.4rem;
    // font-size: 1.2rem;
  }
}

.heading {
  font-weight: 400;
  &:hover {
    font-weight: 500;
  }
  &--simple {
  }
}
