.title {
  margin-bottom: 2.4rem;
}

.item {
  display: flex;
  gap: 1rem;
  border-bottom: 1.5px solid lightgrey;
  // border-bottom: 1.5px salmon dotted;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &--small {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  // margin-left: -2.4rem;
  // margin-right: -2.4rem;
  // padding-left: 2.4rem;
  // padding-right: 2.4rem;
}

.number {
  width: 4rem;
  &--small {
    width: 2rem;
    font-size: 1.2rem;
  }
}

.heading {
  &-small {
    font-size: 1.2rem;
    font-weight: 400;

    &:hover {
      font-weight: 500;
    }
  }
}
