@use '../../../styles/breakpoints.scss' as *;

.grid {
  display: flex;
  flex-direction: column;

  > {
    flex: 0 0 5%;
    max-width: 5%;
    flex-wrap: wrap;
  }

  @include sm-breakpoint {
    flex-direction: row-reverse;
    &-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}
